<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Support</title>
</head>

<body>
    <h1>Create Support Ticket</h1>
    <div th:if="${error}" style="color: red">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/support/create}" th:object="${ticket}" method="post">
        <div>
            <label>User ID: <input type="number" th:field="*{user.userId}" /></label>
        </div>
        <div>
            <label>Issue: <textarea th:field="*{issueDescription}"></textarea></label>
        </div>
        <div><input type="submit" value="Submit" /></div>
    </form>
</body>

</html>