<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/apply.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="app-bg">
    <h1>Register</h1>
    <div th:if="${error}" style="color: red">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div><label>Username: <input type="text" th:field="*{username}" /></label></div>
        <div><label>Password: <input type="password" th:field="*{password}" /></label></div>
        <div><label>Email: <input type="text" th:field="*{email}" /></label></div>
        <div>
            <label>Role:
                <select th:field="*{role}">
                    <option th:value="CUSTOMER">Customer</option>
                    <option th:value="BANKER">Banker</option>
                    <option th:value="ADMIN">Admin</option>
                </select>
            </label>
        </div>
        <div><input type="submit" value="Register" /></div>
    </form>
</body>

</html>